<!DOCTYPE html>
<html>

<style>

    body {
        background-color: white;
        text-align: center;
        color: black;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>


<br bgcolor="fdfff5">
<div style="...">
  <h1>PHOTOSITE DASHBOARD</h1>
  <h3>Photos of Users</h3>
</div>


  <% @photo.each do |photo| %>

  <h1><%= @user.first_name %> <%= @user.last_name %></h1>


  <p><%=image_tag("https://photositecs651.s3.amazonaws.com/images/"+photo.file_name) %></p>

    <p> Photo creation time is : <%= photo.date_time %></p>
    </br>


    <% @comment.where("photo_id=?",photo.id).each do |comment| %>
      <p> Comments : <%= comment.comment_text %></p>
      <p> Created at: <%= comment.date_time %></p>
      <p> Commented by: <%= link_to commented_by(comment.user_id), { action:"index", controller:"photo", id:comment.user_id} %>  </p>

    <% end %>

<% end %>

  </body>
</html>